<h1>Members</h1>



 <% @nation_members.each do |member| %>
    <div>
      <h2><%= member.name %></h2>
      <% if member.photo_url.present? %>
        <%= image_tag member.photo_url, alt: member.name %>
      <% end %>
      <p><strong>Allies:</strong> <%= member.allies%></p>
      <p><strong>Enemies:</strong> <%= member.enemies %></p>
      <p><strong>Affiliations:</strong> <%= member.affiliations %>
    </div>
  <% end %>

